version: "3.8"

services:
  auth-services:
    build: ./auth-services
    ports: ["3001:3001"]
    depends_on: [auth-db]

  auth-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth_db
    volumes:
      - ./mysql-init/auth.sql:/docker-entrypoint-initdb.d/init.sql

  product-services:
    build: ./product-services
    ports: ["3002:3002"]
    depends_on: [product-db]

  product-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: product_db
    volumes:
      - ./mysql-init/product.sql:/docker-entrypoint-initdb.d/init.sql

  cart-services:
    build: ./cart-services
    ports: ["3003:3003"]
    depends_on: [cart-db]

  cart-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cart_db
    volumes:
      - ./mysql-init/cart.sql:/docker-entrypoint-initdb.d/init.sql

  order-services:
    build: ./order-services
    ports: ["3004:3004"]
    depends_on: [order-db]

  order-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: order_db
    volumes:
      - ./mysql-init/order.sql:/docker-entrypoint-initdb.d/init.sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_ARBITRARY: 1
      PMA_HOSTS: auth-db,product-db,cart-db,order-db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - auth-db
      - product-db
      - cart-db
      - order-db
