version: "3.8"

services:
  auth-service:
    build: ./auth-service
    ports: ["3001:3001"]
    depends_on: [auth-db]

  auth-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth_db
    volumes:
      - ./mysql-init/auth.sql:/docker-entrypoint-initdb.d/init.sql

  product-service:
    build: ./product-service
    ports: ["3002:3002"]
    depends_on: [product-db]

  product-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: product_db
    volumes:
      - ./mysql-init/product.sql:/docker-entrypoint-initdb.d/init.sql

  cart-service:
    build: ./cart-service
    ports: ["3003:3003"]
    depends_on: [cart-db]

  cart-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cart_db
    volumes:
      - ./mysql-init/cart.sql:/docker-entrypoint-initdb.d/init.sql

  order-service:
    build: ./order-service
    ports: ["3004:3004"]
    depends_on: [order-db]

  order-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: order_db
    volumes:
      - ./mysql-init/order.sql:/docker-entrypoint-initdb.d/init.sql
