services:

  # ================= DATABASES =================
  mysql-db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: apotek_product
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql-db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql-db

  postgres-db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: useradmin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: apotek_user
    ports:
      - "5432:5432"

  mongo-db:
    image: mongo:6
    container_name: mongo-db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis-db:
    image: redis:7
    container_name: redis-db
    restart: always
    ports:
      - "6379:6379"

  # ================= SERVICES =================
  product-services:
    build: ./product-services
    container_name: product-services
    restart: always
    ports:
      - "8001:8001"
    depends_on:
      - mysql-db

  user-services:
    build: ./user-services
    container_name: user-services
    restart: always
    ports:
      - "4000:4000"
    depends_on:
      - postgres-db

  transaction-services:
    build: ./transaction-services
    container_name: transaction-services
    restart: always
    ports:
      - "5001:5001"
    depends_on:
      - redis-db

  review-report-services:
    build: ./review-report-services
    container_name: review-report-services
    restart: always
    ports:
      - "5002:5002"
    depends_on:
      - mongo-db

volumes:
  mongo_data:
