services:

  # ================= DATABASES =================
  mysql-db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root 
      MYSQL_DATABASE: productdb
    # ports:
    #   - "3307:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql-db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql-db

  postgres-db:
    image: postgres:15
    environment:
      POSTGRES_USER: useradmin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: apotek_user
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    ports:
      - "8082:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    depends_on:
      - postgres-db


  mongo-db:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root123
      MONGO_INITDB_DATABASE: reviewdb
    ports:
      - "27017:27017"

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_BASICAUTH: "true"
      ME_CONFIG_BASICAUTH_USERNAME: root
      ME_CONFIG_BASICAUTH_PASSWORD: root123
      ME_CONFIG_MONGODB_URL: mongodb://root:root123@mongo-db:27017/?authSource=admin


  redis-db:
    image: redis:7
    container_name: redis-db
    restart: always
    ports:
      - "6379:6379"

  redisinsight:
    image: redislabs/redisinsight
    container_name: redisinsight
    restart: always
    ports:
      - "8005:8001"
    depends_on:
      - redis-db

  # ================= SERVICES =================
  product-services:
    build: ./product-services
    container_name: product-services
    restart: always
    ports:
      - "8001:8001"
    depends_on:
      - mysql-db

  user-services:
    build: ./user-services
    container_name: user-services
    restart: always
    ports:
      - "4000:4000"
    depends_on:
      - postgres-db

  transaction-services:
    build: ./transaction-services
    container_name: transaction-services
    restart: always
    ports:
      - "5001:5001"
    depends_on:
      - redis-db

  review-report-services:
    build: ./review-report-services
    container_name: review-report-services
    restart: always
    ports:
      - "5002:5002"
    depends_on:
      - mongo-db

volumes:
  mongo_data:
  